# - Requirement:  local file ./goinfer.ini
# - Build:        DOCKER_BUILDKIT=1 docker compose build
# - Run:          docker compose up
# - Stop:         CTRL + C
# - Clean:        docker compose down

services:
  goinfer-llama:
    image: goinfer-llama
    container_name: goinfer-llama
    build:
      context: .
      dockerfile: ./Containerfile
      args:
        # llama.cpp tags: https://github.com/ggml-org/llama.cpp/tags
        - llama_git_tag=b6131
        # Nvidia container images: https://hub.docker.com/r/nvidia/cuda
        - CUDA_VERSION=13.0
        - CUDA_PATCH=1
        - UBUNTU_VERSION=24.04
    command: # no need for arguments
    ports: [8080:8080]
    volumes:
      # GI_MODELS_DIR is also used by goinfer
      - ${GI_MODELS_DIR:-./models}:/models
      - ${CCACHE_DIR:-./.ccache}:/root/.ccache
      - ${GO_CACHE_DIR:-./.go}:/root/go
      - ./goinfer.ini:/app/goinfer.ini
    environment:
      - TZ=UTC0 # time.Unix() uses UTC instead of local time zone
    # restart: unless-stopped
